<%
var id = common.id;//pageIDを定義
-%>

<!DOCTYPE html>
<!--[if IE 8]><html lang="ja" class="ie ie8" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# mixi: http://mixi-platform.com/ns#"><![endif]-->
<!--[if IE 9]><html lang="ja" class="ie ie9" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# mixi: http://mixi-platform.com/ns#"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# mixi: http://mixi-platform.com/ns#"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="ja">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= siteDescription %>">
    <meta name="keywords" content="<%= siteKeywords %>">
    <meta property="og:title" content="<%= ogTitle %>">
    <meta property="og:description" content="<%= ogDescription %>">
    <meta property="og:url" content="<%= ogURL %>">
    <meta property="og:image" content="<%= ogImage %>">
    <meta property="og:type" content="<%= ogType %>">
    <title><%= siteTitle %></title>
    <link rel="canonical" href="">
    <link href="" rel="alternate" hreflang="ja">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <!--  stylesheet  -->
    <link rel="stylesheet" href="/common/css/styles.css">
    <!--  modernizr -->
    <script src="/common/js/modernizr.js"></script>
</head>
<body>
<% include common/ejs_include/_header.ejs %>
	<h1>SLIME</h1>
	<p>Flexible Framework For Small to Middle Webpage</p>
<% include /Projects/slime/src/common/ejs_include/_footer.ejs %>
<!--  scripts include libraries  -->
<script src="/common/js/scripts.js"></script>
</body>
</html>