/* -----------------------------------------------
　Base
-------------------------------------------------- */

html {
  font-family: 'Quicksand',"游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.42857;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  overflow-y: scroll;
}

body {
  color: #666;
}

a {
  text-decoration: none;
}

