/*
見出し

Markup:
<p class="btn_base {{modifier_class}}">Button</p>

Styleguide module.headings
 */


.hdg-lv1 {
  position: relative;
  text-align: right;
  color: #ffffff;
  font-size: 50px;
  font-weight: 100;
  margin: 20px 40px 0 0;
}

.hdg-lv1 span {
  font-size: 40px;
}

.hdg-lv2 {
  text-align: center;
  color: #333333;
  font-size: 26px;
  font-weight: 400;
}

.hdg-lv3 {
  text-align: center;
  color: #666666;
  font-size: 20px;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

@media (min-width: 768px) {
  .hdg-lv1 {
    text-align: right;
    color: #8ec31f;
    font-size: 100px;
    font-weight: 100;
    margin: 0;
  }

  .hdg-lv1 span {
    font-size: 50px;
  }

  .hdg-lv3 {
    text-align: center;
    color: #666666;
    font-size: 26px;
    font-weight: 100;
  }

}