<div class="col-xs-12 col-sm-3">
    <ul class="side">
        <li><a href="/documents">Index</a></li>
        <li><a href="/documents/usage.html">Usage</a></li>
        <li><a href="/documents/directories.html">Directories</a></li>
        <li><a href="/documents/markup.html">HTML</a></li>
        <li><a href="/documents/scripts.html">Scripts</a></li>
        <li><a href="/documents/styles.html">Styles</a></li>
    </ul>
</div>