<a href="#concept" class="js-pagetop btn-circle"><i class="icon-angle-up"></i></a>
<footer id="footer">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.4&appId=766963216677492";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <!--<div class="fb-like"></div>-->
    <!--<a href="https://twitter.com/share" class="twitter-share-button" data-via="croev">Tweet</a>-->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <p>Created by <a href="https://twitter.com/croev" target="_blank">@croev</a></p>
</footer>